.stories > div {
  max-width: 100%;
  padding: 0;
}

.main {
  .stories {
    &__box {
      // justify-content: center;
      gap: clamp(1.25rem, 0.0483rem + 4.6332vw, 5rem);
      padding: clamp(1.25rem, -0.7529rem + 7.722vw, 7.5rem) 0;
      border-radius: 0;
      border-left: none;
      border-right: none;
      border-top: none;
      border-bottom: 2px solid rgb(55, 55, 55);

      &:first-of-type {
        border-top: 2px solid rgb(55, 55, 55);
      }
    }

    &__content-box {
      padding: 0 clamp(0.9375rem, -10.4954rem + 20.3252vw, 2.5rem);
      justify-content: start;
      gap: clamp(1.25rem, 0.0483rem + 4.6332vw, 5rem);
    }

    &__inner {
      gap: 0;
    }
  }

  .button-uniq {
    &:disabled {
      background: rgb(55, 55, 55);
      opacity: 0.4;
      pointer-events: none; 
    }
  }

  &.cases-page {
    @media (max-width: 500px) {
      .button-box {
        button {
          gap: 24px;
          background-color: transparent;
        }
      }
    }
  }
}

.contact-modal {
  .button-uniq {
    background-color: rgb(43, 36, 255);
    align-self: center;
    gap: 110px;

    &:after {
        background-color: transparent;
    }

    &:disabled {
      background: rgb(55, 55, 55);
      opacity: 0.4;
      pointer-events: none; 
    }
  }

  .button-decor {
    background-color: #010101;
  }
}
