
.contact-modal {
  .button-uniq {
    background-color: rgb(43, 36, 255);
    align-self: center;
    gap: 110px;

    &:after {
        background-color: transparent;
    }

    &:disabled {
      background: rgb(55, 55, 55);
      opacity: 0.4;
      pointer-events: none; 
    }
  }

  .button-decor {
    background-color: #010101;
  }
}
